$bg-color: #0c0c0c;

.editor-preview {
  background: linear-gradient(30deg, rgb(13, 13, 20) 40%, rgb(71, 65, 99) 80%, rgb(84, 84, 105) 92%);
  height: 100%;
  padding: 8% 100px;

  font-family: var(--code-font);

  .back {
    position: absolute;
    top: 20px;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home {
      text-decoration: none;
    }

    .home:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
  
  .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;


    .details {
      flex: 1;
      background-color: var(--primary-color);
      border-radius: 8px;
      padding: 10px;
      height: 100%;

      user-select: none;

      .container {
        max-height: fit-content;
        margin-top: 40%;

        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .project-name {
          width: 70%;
          min-height: 50px;
          max-height: 20%;
          padding: 5px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow-y: auto;

          font-family: var(--heading-font);
          font-size: 30px;
        }

        .name:focus {
          border: none;
          border-bottom: 2px solid var(--box-color);
        }

        .desc {
          background-color: var(--box-color);
          width: 70%;
          min-height: 50px;
          max-height: 20%;
          padding: 5px 10px;
          font-size: 14px;


          display: flex;
          justify-content: center;
          align-items: center;
          overflow-y: auto;
        }

        .navigate {
          cursor: pointer;
          width: 70%;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        .band {
          margin-top: 10%;
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .add {
            width: 70%;
            background-color: $bg-color;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            padding: 5px 20px;
            cursor: pointer;
            transition: background-color 100ms ease;

            .img-container {
              width: 20px;
              height: 20px;
              object-fit: cover;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .add:hover {
            background-color: #161616;
          }

          .members {
            margin-top: 10px;
            width: 100%;
            border: 1px solid var(--box-color);
            box-sizing: border-box;
            padding: 10px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .invite {
              width: 100%;
              display: flex;
              flex-direction: row;
              gap: 10px;

              input {
                flex: 1;
                border: none;
                width: 100%;

                min-height: 24px;
                resize: none;
                background-color: var(--box-color);
                border-radius: 5px;

                padding: 2px 10px;
                color: white;
                font-family: inherit;
                font-size: 12px;
              }

              .invite-button {
                box-sizing: border-box;
                padding: 2px 5px;
                border-radius: 5px;
                background-color: var(--secondary-color);
                color: var(--primary-color);
                font-size: 14px;
                display: flex;
                align-items: center;
              }

              .invite-button:hover {
                cursor: pointer;
                background-color: white;
              }
            }

            .members-container {
              width: 100%;

              .member-container {
                flex: 1;
                width: 100%;

                .member {
                  border-radius: 5px;
                  cursor: pointer;
                  padding: 10px;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  gap: 20px;

                  .member-info {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .avatar {
                      min-width: 20px;
                      height: 20px;
                      border-radius: 50%;
                      overflow: hidden;

                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }

                  .remove{
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    color: #49494f;
                    opacity: .8;
                  }

                  .remove:hover{
                    color: var(--highlight-red)
                  }
                }

                .member:hover {
                  background-color: var(--box-color);
                }
              }
            }
          }
        }
      }
    }

    .preview {
      flex: 3;
      border: 2px solid var(--secondary-color);
      opacity: .8;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}