@keyframes vinyl {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


.live-code {
  background: linear-gradient(30deg, rgb(13, 13, 20) 40%, rgb(71, 65, 99) 80%, rgb(84, 84, 105) 92%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--text-font);
  font-size: 20px;

  .back {
    position: absolute;
    top: 20px;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home {
      text-decoration: none;
    }

    .home:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }

  .vinyl {
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    object-fit: cover;
    animation: vinyl 30s linear infinite;

    img {
      height: 100%;
    }
  }

  .user {
    background-color: var(--primary-color);
    position: fixed;
    min-height: 80%;
    min-width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      background-color: var(--secondary-color);
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 8vh;

      object-fit: cover;

      img {
        width: 100%;
      }
    }

    .username {
      width: 70%;
      margin-top: 20px;
      font-family: var(--heading-font);
      font-size: 1.5em;

      display: flex;
      justify-content: center;
    }

    .code-time,
    .number-of-projects {
      margin-top: 6vh;
      background-color: var(--box-color);
      min-height: 100px;
      width: 20vh;
      border-radius: 10px;
      padding: 0 20px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      

      .icon {
        flex: 1;
        object-fit: cover;
        max-width: 40px;
        max-height: 40px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .main {
          font-family: var(--code-font);
          font-size: 20px;
          letter-spacing: 1px;
        }

        .sub {
          font-family: var(--code-font);
          font-size: 14px;
        }
      }
    }
  }

  .playlist {
    min-width: 35%;
    margin-left: 10%;
    height: 80vh;

    .topbar {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 20px;

      .create-project {
        font-size: 15px;
        width: fit-content;
        border-radius: 5px;
        padding: 10px 10px;
        background-color: var(--box-color);
        transition: background-color 100ms ease-in
      }

      .create-project:hover {
        cursor: pointer;
        background-color: var(--highlight-red);
      }
    }

    .projects {
      box-sizing: border-box;
      width: 100%;
      max-height: calc(100% - 150px);
      overflow-y: auto;
      overflow-x: visible;
      display: flex;
      flex-direction: column;
      gap: 20px;

      padding-right: 15px;
      scrollbar-width: thin;
      scrollbar-color: black var(--primary-color);


      .project-card {
        min-width: 100%;
        min-height: 100px;
        border: 1px solid var(--primary-color);
        border-radius: 12px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .content {
          flex: 1;
          display: grid;
          grid-template-columns: 1fr 100px;
          grid-template-rows: 1fr auto;
          grid-template-areas:
            "name icons"
            "createdAt _ "
          ;
          row-gap: 10px;

          .name {
            grid-area: name;
          }

          .name:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 5px;
          }

          .card-icons{
            grid-area: icons;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .star, .settings{
              cursor: pointer;
              
              text-align: right;              
              object-fit: cover;
  
              svg {
                width: fit-content;
                height: 100%;
              }
            }
            
            .settings {  
              fill: white;          
              position: relative;

              .open {
                position: absolute;
                right: 0;
                bottom: calc(-100% - 20px);
                width: max-content;
  
                background-color: var(--box-color);
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 14px;
  
                object-fit: contain;
  
                .delete {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  gap: 10px;
  
                  cursor: pointer;
                  padding: 10px;
                  color: var(--highlight-red);
  
                  svg {
                    width: 100%;
                    height: 100%;
                    max-height: 14px;
                    fill: var(--highlight-red);
                  }
                }
  
                .delete:hover {
                  background-color: #404057;
                }
  
              }
            }
          }

          .createdAt {
            font-size: 14px;
            color: #cbcbcbcd;
            grid-area: createdAt;
          }

        }
      }

      .project-card:hover {
        background-color: #12121294;
      }
    }
  }
}