/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  --primary-color: #1e1e2f;
  --box-color: #2b2b3b;
  --secondary-color: #d9d9d9;
  --text-color: #fff;
  --highlight-blue: #42c8f5;
  --highlight-red: #ff4b5c;

  --heading-font: 'Roboto Serif';
  --text-font: 'Roboto Condensed';
  --code-font: 'Fira Code'
}

#root{
  height: 100%;
}

body {
  height: 100%;
  color: var(--text-color);
  background-color: var(--primary-color);
}

/* HEADER */
.header {
  font-family: var(--text-font);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;


  .navbar {
    display: flex;
    gap: 10vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navbar div {
    cursor: pointer;
    font-size: 28px;
    font-weight: normal;
    text-decoration: underline;
    transition: text-decoration-color 300ms ease, text-underline-offset 300ms ease, text-decoration-thickness 300ms ease;
  }

  .login-button,
  .signup-button {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;

    width: fit-content;
    height: fit-content;
    min-width: 50px;
    text-align: center;

    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 40px;
  }

  .login-button {
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
  }

  .signup-button {
    color: #fff;
    background-color: var(--highlight-red);
  }

  .login-button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  .signup-button:hover {
    cursor: pointer;
    background-color: #e72c3f;
  }

  .logged-in {
    height: 50px;
    min-width: max-content;
    padding: 0 20px 0 0;
    border-radius: 25px;
    background-color: #ffffff31;

    display: flex;
    flex-direction: row;
    gap: 10px;
    user-select: none;
    cursor: pointer;

    .avatar {
      padding: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: transparent;
      overflow: hidden;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }

    .username {
      line-height: 50px; //Same height as container
      color: var(--text-color);
      font-family: var(--code-font);
      font-size: 20px;
    }
  }

  .action {
    overflow: hidden;
    transition: height 400ms ease-in-out;

    .container {
      margin-top: 20px;
      box-sizing: border-box;
      padding: 5px 0;
      flex-direction: column;
      background-color: #ffffff31;

      div {
        box-sizing: border-box;
        padding: 2px 0;
        height: max-content;
        text-align: center;
        font-family: var(--text-font);
        font-size: 24px;

        cursor: pointer;
      }

      div:hover {
        background-color: #d9d9d92b;
      }
    }
  }
}

/* ----------------------------------- */
/* FOOTER */

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .left {
    margin: 40px 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .left .team {
    font-size: 32px;
  }

  .left p {
    font-size: 24px;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .social-media img{
    width: 40px;
    fill: var(--primary-color);
  }

  .right {
    margin-right: 200px;
    width: min(20vw, 200px);
  }

  .right h1 {
    font-size: 32px;
  }

  .right p {
    font-size: 24px;
  }
}

/* COPYRIGHT */
.copyright {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}