/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #1e1e2f;
}

/* HEADER */
.header{
  display: flex;
  flex-direction: row;
  align-items: start;
}

.navbar{
  margin-left: 30px;
  margin-top: 50px;
  width: fit-content;
  display: flex;
  gap: 220px;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.navbar div {
  font-size: 24px;
}

/* ----------------------------------- */
/* FOOTER */

.footer {
  background-color: #d9d9d9;
  color: #1e1e2f;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  margin: 40px 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right .team{
  font-size: 32px;
  margin-bottom: -30px;
}

.right p{
  font-size: 24px;
}

.social-media{
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.left{
  margin-right: 200px;
  width: min(20vw, 200px);
}

.left h1{
  font-size: 32px;
}

.left p{
  margin-top: -10px;
  font-size: 24px;
}
/* COPYRIGHT */
.copyright{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}