/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  --primary-color: #1e1e2f;
  --box-color: #2b2b3b;
  --secondary-color: #d9d9d9;
  --text-color: #fff;
  --highlight-blue: #42c8f5;
  --highlight-red: #ff4b5c;

  --heading-font: 'Roboto Serif';
  --text-font: 'Roboto Condensed';
  --code-font: 'Fira Code' 
}

body{
  background-color: var(--primary-color);
}

/* HEADER */
.header{
  font-family: var(--text-font);
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: 30px;
}

.navbar{
  margin-left: 80px;
  margin-top: 70px;
  width: fit-content;
  display: flex;
  gap: 180px;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.navbar div {
  font-size: 28px;
  font-weight: normal;
}

/* ----------------------------------- */
/* FOOTER */

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  margin: 40px 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left .team{
  font-size: 32px;
}

.left p{
  font-size: 24px;
}

.social-media{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.right{
  margin-right: 200px;
  width: min(20vw, 200px);
}

.right h1{
  font-size: 32px;
}

.right p{    
  font-size: 24px;
}
/* COPYRIGHT */
.copyright{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}