.typing-container {
    all: unset;
    display: inline-block;
    text-align: justify;
    font-family: var(--code-font);
    font-size: 18px;
    color: var(--highlight-red);
    font-weight: bold;
    background-color: #1e1e1e;

    padding: 3px;
    border-radius: 7px;
} 

  
.typing-cursor {
    animation: blink 0.7s step-end infinite;
}
  
@keyframes blink {
    from, to {color: transparent; }
    50% {color: var(--code-font); }
}
  